<div class="container p-4">


    <div class="m-1">
        <a class="btn btn-outline-success btn-block" href="/addWork">Agregar trabajo</a>
    </div>

    <div class="row">
        {{#each works}}
        <div class="col-md-3">
            <div class="shadow  card text-center">
                <div class="card-body">
                    <p class="p-3 mb-2 bg-success text-white text-uppercase font-weight-light">{{workCode}}</p>
                    <p class="text-muted">{{descriptionWork}}</p>
                     <p class="text-muted">{{workTypeCode}}</p>


                    <a class="btn btn-danger" href="/deleteWork/{{workCode}}">
                        Eliminar
                    </a>

                    <div class="p-1 m-1"></div>
                    <div class="m-1"></div>

                
                </div>
            </div>
        </div>

        {{/each}}
    </div>
</div>