<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://getbootstrap.com/docs/4.0/dist/js/bootstrap.min.js"></script>

<div class="container p-4">
    <div class="m-1">
        <a class="btn btn-outline-success btn-block" href = "/addBranchOffice" >Agregar cliente</a>
    </div>
    
    <div class="row">
        {{#each clients}}
        <div class="col-md-3">
            <div class="shadow  card text-center">
                <div class="card-body">
                    <p class="p-3 mb-2 bg-success text-white text-uppercase font-weight-light">{{fullName}}</p>
                    <p class="text-muted">{{clientCode}}</p>
                    <a class="btn btn-success" href="#">
                        Editar
                    </a>

                    <a class="btn btn-danger" href="/deleteClient/{{clientCode}}">
                        Eliminar
                    </a>

                    <div class="m-1"></div>
                    
                    <div class="dropdown">
                        <button class="p-3 mb-2 font-weight-light btn btn-link dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Contacto
                        </button>

                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

                            <a class="dropdown-item" href="/getClientsEmail">Correo cliente</a>

                            <a class="dropdown-item" href="/getClientsPhone">Telefono cliente</a>

                        </div>
                    </div>
                    

                </div>
            </div>
        </div>
        
        {{/each}}
    </div>
</div>