<div class="d-flex justify-content-center">
  <header class="masthead d-flex">
    <div class="container text-center my-auto">
      <h1 class="mb-1 text-warning">NCQ</h1>
      <h3 class="mb-5 text-dark">
        <em>Control de insumos empresariales</em>
      </h3>
      <a class="btn btn-dark btn-lg" href="https://www.qupos.com">
        Pagina principal de la empresa
      </a>
    </div>
    <div class="overlay"></div>
  </header>
</div>