<div class="container p-4">


    <div class="m-1">
        <a class="btn btn-outline-success btn-block" href="/addReason">Agregar una razon</a>
    </div>

    <div class="row">
        {{#each reason}}
        <div class="col-md-3">
            <div class="shadow  card text-center">
                <div class="card-body">
                    <p class="p-3 mb-2 bg-success text-white text-uppercase font-weight-light">{{reasonCode}}</p>
                    <p class="text-muted">Descripcion: {{descriptionReason}}</p>

                    <a class="btn btn-danger" href="/deleteReason/{{reasonCode}}">
                        Eliminar
                    </a>

                    <div class="p-1 m-1"></div>
                    <div class="m-1"></div>
                </div>
            </div>
        </div>

        {{/each}}
    </div>
</div>