<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card">
                <div class="card-body">
                    <form action="/addClientEmail" method="POST">

                        <div class="form-group">
                            <input type="text" name="email" class="form-control" placeholder="Correo electronico">
                        </div>

            
                        <div class="form-row">
                            <div class="col-md-12 mb-3">
                                <label for="clientCode">Clientes: </label>
                                <select class="custom-select" id="clientCode" name="clientCode" required>
                                    <option selected disabled value="">Selecciona...</option>
                                    {{#each clients}}
                                    <option value={{clientCode}}>{{fullName}}</option>
                                    {{/each}}
                                </select>
                            </div>
                        </div>


                        <div class="form-group">
                            <button class="btn btn-success btn-block">
                                Agregar correo electronico
                            </button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>