<div class="container p-4">
    <div class="m-1">
        <a class="btn btn-outline-success btn-block" href = "/addEmployee" >Agregar un empleado</a>
    </div>
    
    <div class="row">
        {{#each employee}}
        <div class="col-md-3">
            <div class="shadow card text-center">
                <div class="card-body">
                    <p class="p-3 mb-2 bg-success text-white text-uppercase font-weight-light">ID: {{employeeCode}}</p>
                    <p class="text-muted">Nombre: {{name}}</p>

                    <a class="btn btn-danger" href="deleteEmployee/{{employeeCode}}">
                        Eliminar
                    </a>

                </div>
            </div>
        </div>
        
        {{/each}}
    </div>
</div>