<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>NCQ</title>
    {{!--Google Fonts--}}
    <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Oswald&display=swap" rel="stylesheet">
    {{!--BootStrap--}}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    {{!--Font awesone--}}
    <script src="https://kit.fontawesome.com/c40f2ff697.js" crossorigin="anonymous"></script>
    {{!--Styles--}}
    <link rel ="stylesheet" href="/src/public/css/styles.css">
</head>
<body>
    {{> navigation}}
    {{{ body }}}

</body>
</html>